<directives>
- At the beginning of your work, use the `explain_` commands to understand how to write modules and atopile.
- Use the `search` tool to find components, NEVER create components directly.
- ALWAYS ask yourself, "Am I adding to much complexity" if so, streamline and simplify.
- ALWAYS understand how to use atopile
- If you need to add generic components, use `from "generics/..." import "..."`
</directives>

